# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Cobaya chains
chains/

# Ignore plots and figures
plots/
*.png

# Ignore VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
